<extend name="Common/edit"/>
<block name="list">
    <div class="main-div">
        <form method="post" action="{:U()}">
            <table cellspacing="1" cellpadding="3" width="100%">
                <tr>
                    <td class="label">品牌名称</td>
                    <td>
                        <input type='text' name='name' maxlength='60' value='{$name}'/> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">品牌网址</td>
                    <td>
                        <input type='text' name='url' maxlength='60' value='{$url}'/> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">品牌LOGO</td>
                    <td>
                        <input type='file' id="logo-uploader" name='logo_uploader' maxlength='60'/>
                         <input type='hidden' name='logo' class="logo" maxlength='60'/>
                        <div class="upload-img-box" style="display: none">
                            <div class="upload-pre-item">
                                <img src="">
                            </div>
                         </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">排序</td>
                    <td>
                        <input type='text' name='sort' maxlength='60' value='{$sort|default=20}'/> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">品牌简介</td>
                    <td>
                        <textarea name='intro' maxlength='60' row='4'>{$intro}</textarea> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">状态</td>
                    <td>
                        <input type='radio' name='status' class='status' value='1' /> 是<input type='radio' name='status' class='status' value='0'/>否
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><br/>
                        <input type="hidden" name="id" value="{$id}"/>
                        <input type="submit" class="button ajax-post" value=" 确定 "/>
                        <input type="reset" class="button" value=" 重置 "/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</block>
<block name="js">
    <script  type="text/javascript" src="__UPLOADIFY__/jquery.uploadify.min.js"></script>
    <script type="text/javascript">
       $(function(){
           $("#logo-uploader").uploadify({
               height            : 25,
               width             : 145,
               'buttonText'     :'图片上传',//指定按钮上的文字
//               'debug'           : true,//是否调试
               'fileSizeLimit'  : '1MB',   //文件最大上传大小
               'fileTypeExts'    : '*.gif;*.jpg;*.png',//允许上传的文件格式
               'formData':{'dir':'Brand'},  //上传文件时额外传递过去的参数，告知服务器上的IndexController中的index方法将来将文件上传到哪个文件夹下
              // 'fileObjName': 'xxx'  上传文件的名字 默认是Filedata
               'swf'           : '__UPLOADIFY__/uploadify.swf',  //flash插件地址
               'uploader'      : "{:U('Upload/index')}",     //处理上传插件 上传上来的 文件
               'onUploadSuccess' : function(file,data,response){  //data 是响应的上传后的地址
//                   alert(data);//   brand-logo/2016-01-14/5697086311483.jpg
                   $('.upload-img-box').show();//显示出div
                   $('.upload-img-box .upload-pre-item img').attr('src','/Uploads/'+data);//找到img标签 ，给属性src赋值
                   $('.logo').val(data);// 将上传后的路径保存到隐藏域中 和表单一起提交 保存在数据库中
               },
               'onUploadError': function(file,errorCode,errorMsg,errorString){
                   alter('The file' + file.name+'could not be upload:'+errorString);
               }
           });
       });
    </script>
</block>